<template name="adminLayout">
  <div class="col-lg-8 col-lg-offset-2" style="padding-top:30px">
    <!--    {{> loginButtons}}-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>用户管理</h3>
      </div>
      <div class="panel-body">
        <table class="table table-condenseds table-bordered radi" style="background: whitesmoke">
          <thead>
          <tr>
            <td>ID</td>
            <td>邮箱</td>
            <td>创建时间</td>
            <td>操作</td>
          </tr>
          </thead>
          <tbody>
          {{#each user}}
          <tr>
            <td id="{{_id}}">{{_id}}</td>
            <td>{{#each emails}} {{address}} {{/each}}</td>
            <td>{{createdAt}}</td>
            <td><a href="#"><span class="userDel">删除</span></a></td>
          </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <button id="btnNewUser" type="button" class="btn btn-sm btn-primary fix-button"
                data-toggle="modal" data-target="#btnNewUserModal">新建用户
        </button>
      </div>
    </div>
  </div>

  <div class="modal inmodal" id="btnNewUserModal" tabindex="-1" role="dialog" aria-hidden="true"
       style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content animated bounceInRight">
        <div class="modal-header">
          <h4>新用户</h4>
        </div>
        <div class="modal-body">
          <form class="">
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" id="newEmail" placeholder="Email address">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" id="newPassword" placeholder="Password">
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">取消</button>
          <button id="btnCloseNewUser" type="submit" class="btn btn-success btn-xs">保存</button>
        </div>
      </div>
    </div>
  </div>
</template>